CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode

lexer.cpp
parser.cpp
parser.hpp
parser.output
lexer.hpp
parser

requirementsLangNotes